.profile-heading-grid{
 
background: #131313;
border-radius: 11px;   
}

.profile-account-icon{
 margin-top:15%;   
}

/* .profile-right-grid{
    margin:2% 0% 2% 1% !important;
} */
.profile-text-style{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.01em;

color: #D4FF1E;
}
.profile-tab-heading{
    font-family: Poppins !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 18px !important;
color: #FFFFFF !important;
text-transform: none !important;
opacity: 0.68;
}
.profile-question-detail-grid{
    background: #131313 ;
border-radius: 11px ;
}
.profile-question-stage-grid{
    background: #131313;
border-radius: 11px;
}
.profile-button{
    background: #D4FF1F !important;
border-radius: 6px !important;
font-family: Poppins !important;
font-style: normal !important;
font-weight: 600 !important;
text-transform: none !important;
}
.profile-content-style{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
letter-spacing: 0.01em;
}