.waitlist-dialog .MuiDialog-paper{
    background-color: #000000; 
    
    color: #ffffff;
    height: 40vh;
    overflow: hidden;
    width: 52vw;
    height: 70vh
   }
   #waitlist-button{
    background: #d4ff1f !important;
    border-radius: 6px !important;
    font-family: Poppins !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-transform: none !important;
    font-size: 1vw !important;
  }