.grid-body {
  color: white;
  margin: 2% 4% 2% 5%;
}
.color-neon {
  color: #d4ff1e;
}
.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 60px; */
  letter-spacing: 0.01em;
}

.link {
  text-decoration: none;
  color: white;
}

.heading-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  letter-spacing: 0.01em;
}

.margin-top-2 {
  margin-top: -2%;
}
.margin-top-10 {
  margin-top: -10% !important;
}
.center {
  text-align: center;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  letter-spacing: 0.04em;
}
.bounty-time {
  font-weight: 600;
  font-size: 40px;
  /* line-height: 60px; */
  margin-top: 2%;
  letter-spacing: 0.01em;
}

.margin-top-3 {
  margin-top: -3% !important;
}
.margin-top-20 {
  margin-top: -4%;
}
.heading-box {
  background: #131313;
  border-radius: 11px;
  width: 19vw !important;
  /* height: 40vh; */
  margin: 1% 0% 5% -9%;
  padding: 3% 3% 6% 3%;
}
.heading-box2 {
  background: #131313;
  border-radius: 11px;
  width: 47vw !important;
  /* height: 41vh; */
  margin: 1% 0% 5% -8%;
  padding: 3%;
}
.description-box {
  background: #131313;
  border-radius: 11px;
  width: 93vw !important;
  /* height: 40vh; */
  padding: 3%;
  margin: 0% 0% 2% -2%;
}

.card-header {
  background-color: #d4ff1e;
  border-radius: 9px 9px 0 0;
  margin-bottom: 21vh !important;
  height: 8vh !important;
  text-align: center;
  width: 26vw !important;
}

.card-content {
  background: #131313;
  border-radius: 9px;
  height: 8vh !important;
}
.icon {
  margin-right: 2%;
}
.card-hover-content {
  background: #d4ff1f;
  border-radius: 9px;
  cursor: pointer;
}
.card-hover-content-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  letter-spacing: 0.01em;
  color: #272727;
  margin-top: 5%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 11%;
}

.sol-card {
  width: 25vw;
}

.number-solution {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin: 1% 0% -3% 0%;
  letter-spacing: 0.01em;
}
.title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: -2%;
  margin-right: 2%;
}
.number {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(35, 35, 35, 1);
  margin-top: -8%;
}
.number.community-reward {
  margin-left: 23%;
  margin-top: -5%;
}
.number.bounty-reward {
  margin-left: 12%;
}
.number.time {
  margin-left: 20%;
}

.number.non-vote-bounty-reward {
  margin-left: 5%;
  margin-top: -5%;
}
.number.non-vote-time {
  margin-left: 13%;
  margin-top: -7%;
}

.bounty-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0em;
  text-align: center;
  height: 38px;
  width: 180px;
  cursor: pointer;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 9px;
  color: rgba(29, 29, 29, 1);
  background-color: #d4ff1e;
  text-transform: "none";
}
.button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(29, 29, 29, 1);
  text-transform: "none";
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  opacity: 39%;
  cursor: auto;
}
button:disabled:hover {
  background-color: #cccccc;
  color: #666666;
}

.category {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  height: 46px;
  width: 112px;
  border-radius: 9px;
  border-style: dashed;
  border-color: rgba(193, 193, 193, 1);
  border-width: 2px;
  padding: 3%;
  padding-top: 6%;
}

hr {
  margin-top: 3%;
}

.stage-title {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 3.5%;
  color: rgba(243, 108, 108, 1);
}
.card-grid {
  height: 179px;
  width: 311px;
  margin-left: 3.5%;
  color: #ffffff;
}
.stage-heading {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.stage-description {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.stage-button {
  background-color: rgba(196, 196, 196);
  color: rgba(29, 29, 29, 1);
  text-transform: "none";

  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  height: 25px;
  width: 77px;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
  margin-left: 2%;
  margin-bottom: 7%;
}
/* 
span a {
  text-decoration: none;

  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  letter-spacing: 0.01em;

  color: #272727;
} */

/* .sol-card {
  height: 94px;
  width: 950px;
  background: rgba(221, 221, 221, 1);
  border-radius: 11px;
  margin: 1%;
  overflow: auto;
} */
.voting {
  margin-top: 0%;
}
.voting-score-title {
  text-decoration: none;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.MuiDialog-paperWidthSm {
  height: 350px;
  width: 1000px;
}

.dialog-title {
  text-decoration: none;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 6%;
}

input {
  margin-left: 38%;
}

.dialog-button {
  width: 100px;
  height: 38px;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  margin-top: 4%;
  margin-left: 38%;
  cursor: pointer;
}
.solution-submit-title {
  text-decoration: none;

  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  margin-top: 0%;
  margin-left: 4%;
}

.workplan-title {
  text-decoration: none;

  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  margin-top: 3%;
  margin-left: -13%;
}

.dialog-workplan {
  text-decoration: none;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-left: -4%;
}
.wallet-title {
  text-decoration: none;

  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  margin-top: 3%;
  margin-left: -2%;
}
.MuiFormControlLabel-label {
  font-family: "Poppins" !important;
  font-size: 13px !important;
  letter-spacing: 0.01px;
  color: #1d1d1d;
  opacity: 0.68;
}

.bounty-right {
  height: 47vh !important;
}
.bounty-workplan-detail {
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 5.6vh;
  letter-spacing: 0.01em;
  color: #272727;
}

.workplan-grid {
  margin-top: -6.5vh !important;
  margin-left: 2vw !important;
}

.workplan-icon {
  margin-top: 2.2vh !important;
  margin-left: 2vw !important;
}

.solution-lists {
  height: 20vh !important;
  background: #131313;
  overflow-y: auto;
}
.bounty-solution-list-p {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 4vh;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.bounty-solution-list-icons{
  margin-top: 1.5vh !important;
}


.bounty-middle-github{
  margin-top: -3vh !important;
  margin-left: 2vw !important;
}