
.right-side-card{
background: #131313 !important;
color: white !important;
padding: 25% 7% 25% 7% !important;
}

.message{
 margin-top: 27% !important;
 
}
.message-title{

    font-style: normal !important;
font-weight: 600 !important;
font-size: 35px !important;
line-height: 50px !important;
/* or 143% */


letter-spacing: 0.01em !important;

color: white !important;
}

.message-text{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
margin-bottom:20% ;
letter-spacing: 0.04em;
}

.button{
    background: #D4FF1F !important;
    width: 7vw !important;
    margin-top:10% !important;
}

.card-title{
font-family: Poppins !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 18px !important;
line-height: 25px !important;
/* identical to box height, or 139% */
color: #FFFFFF !important;
letter-spacing: 0.04em !important;
}
.card-body{
    font-family: Poppins !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 14px !important;
line-height: 21px !important;
letter-spacing: 0.01em !important;
color: #FFFFFF !important;
}

.input-field-text{
font-family: Poppins;
font-style: normal !important;
font-weight: 600 !important;
font-size: 100px !important;
line-height: 150px !important;
text-align: center !important;
letter-spacing: 0.01em !important;
color: #FFFFFF !important;
}

.left-title{
font-family: Poppins !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 22px !important;
color: #D4FF1E !important;

}

.terms-text{
font-family: Poppins;
font-style: normal !important;
font-weight: normal !important;
font-size: 14px !important;
line-height: 21px !important;
letter-spacing: 0.01em !important;
color: #FFFFFF !important;
}

.days-input-parent{
    margin-top: 33% !important;
    margin-left: 20% !important;
}

.input-field{
    color: white !important;
     width: 50vw !important;
      padding-left: 40% !important
}

.input-field-parent{
    margin-top: 33% !important;
    margin-left: 20% !important;
}

.margin-top-2{
    margin-top: 2% !important;
}

.margin-left-23{
    margin-left: -23% !important;
}

.margin-left-8{
    margin-left: 8% !important;
}

.input-field-style{
    color: white !important; width: 50vw !important;

}

.option-page-margins{
    margin-top: 33% !important;
     margin-left: 5% I !important
}


.selectedCard:hover{
    background-color: #637905 !important;
    color:black I !important;

}