
.right-side-card{
background: #131313 !important;
color: white !important;
padding: 0% 7% 25% 7% !important;
}
.margin-top-8{
    margin-top: 8%  !important;
}

.message{
 margin-top: 27% !important;
 
}
.message-title{
font-style: normal !important;
font-weight: 600 !important;
font-size: 35px !important;
line-height: 50px !important;
letter-spacing: 0.01em !important;
color: white !important;
}

.message-text{
font-family: Poppins ;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
margin-bottom:20% ;
letter-spacing: 0.04em;
}

.button{
    background: #D4FF1F !important;
    width: 7vw !important;
    margin-top:10% !important;
}

.card-title{
font-family: Poppins !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 18px !important;
line-height: 25px !important;
color: #FFFFFF !important;
letter-spacing: 0.04em !important;
}
.card-body{
    font-family: Poppins !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 14px !important;
line-height: 21px !important;
letter-spacing: 0.01em !important;
color: #FFFFFF !important;
}

.input-field-number{
font-weight: 600 !important;
font-size: 100px !important;
}

.left-title{
font-family: Poppins !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 22px !important;
color: #D4FF1E !important;

}

.terms-text{
font-family: Poppins;
font-style: normal !important;
font-weight: normal !important;
font-size: 14px !important;
line-height: 21px !important;
letter-spacing: 0.01em !important;
color: #FFFFFF !important;
}

.days-input-parent{
    margin-left: 18% !important;
}


.margin-top-2{
    margin-top: 2% !important;
}


.margin-left-35{
    margin-left: 35% !important;
}
.margin-left-30{
    margin-left: 30% !important;
}
.input-field-style{
    font-family: Poppins !important;
    color: white !important;
     width: 50vw !important;
     font-style: normal !important;
     line-height: 150px !important;
    letter-spacing: 0.01em !important;

}

.option-page-margins{
    margin: 0% 0% 0% 10%!important;
    
}


.selectedCard:hover{
    background-color: #637905 !important;
    color:black I !important;

}
.selectedCard {
     width: 20vw !important;
      height: 20vh !important;
      padding:3% !important;
      margin-bottom:10% !important;
}