.global-white-text {
  color: #ffffff;
  margin-bottom: 15vh;
  margin-top: 5vh;
}
a > p:hover{
  color: #d4ff1e;
}
.common-text-css {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 6vw;
}

.section1-text {
  margin-left: 25%;
  font-size: 1vw;
}

.text1 {
  margin-top: -2%;
}
.footer-logo {
  margin-top: 1vw;
  margin-left: 3.5vw;
  width: 18vw;
}

.footer {
  margin-top: 40%;
  margin-left: 29%;
}

.social-media-icon {
  margin-top: -6vw !important;
}

.discord {
  margin-left: -5vw;
}

.twitter {
  margin-left: -10vw;
}
